INFLUX_USER=admin
INFLUX_PASSWORD=admin12345
INFLUX_ORG=faculdade
INFLUX_BUCKET=sensores
INFLUX_TOKEN=trocar-por-string-aleatoria

MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=topico/de/exemplo

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
