INFLUX_USER=admin
INFLUX_PASSWORD=admin12345
INFLUX_ORG=faculdade
INFLUX_BUCKET=sensores
INFLUX_TOKEN=trocar-por-string-aleatoria

# Onde o InfluxDB grava os dados.
# Deixe comentado para usar o volume padrao do Docker (disco do sistema).
# No servidor, aponte para uma pasta no HD externo (ext4) para guardar la:
#INFLUX_DATA_DIR=/mnt/hd-externo/influxdb2

MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
# Topico
MQTT_TOPIC=grupo_microcontroladores_2026.1/sensores
MQTT_CLIENT_ID=telegraf-ubuntu-server

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# deixar em branco ou comentado para usar a padrão
#GRAFANA_PORT=3001
#INFLUX_PORT=8087
