#pragma once

// =====================================================================
// TEMPLATE — copie este arquivo para "secrets.h" e preencha seus dados:
// =====================================================================

// ===== Wi-Fi =====
#define WIFI_SSID     "SUA_REDE_WIFI"
#define WIFI_PASSWORD "SUA_SENHA_WIFI"

// ===== Broker MQTT =====
#define MQTT_HOST "broker.hivemq.com"
#define MQTT_PORT 1883

// ===== aluno =====
#define SENSOR_ID      "SEU_NOME"
#define MQTT_CLIENT_ID "esp8266-dht11-SEU_NOME"

// ===== Tópico =====
#define MQTT_TOPIC     "grupo_microcontroladores_2026.1/sensores"

#define PUBLISH_INTERVAL_MS 5000UL
